.App {
  font-family: var(--font-inter), sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  color: white;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  width: 75%;
  margin: 2rem auto;
}

.container-left{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px;
}

.container-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.file-input input[type="file"] {
  padding: 10px;
  border-radius: 5px;
}

.file-input label {
  padding: 7px 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings label {
  padding: 4px 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;  
}

.settings input[type="text"] {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #374151;
  border: 2px outset transparent;
  color: white;
  font-weight: bold;
}


.file-display {
  border-radius: 5px;
  overflow: auto;
}

.file-display textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  resize: vertical;
}

button {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}

.custom-file-button {
  background-color: #374151;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px outset transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-button {
  background-color: red;
  color: white;
}

.remove-button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.convert-button {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.convert-button:hover {
  background-color: lightgreen;
}

.convert-button.loading {
  background-color: lightgray;
  background-image: linear-gradient(to right, green 0%, green var(--progress), lightgray var(--progress), lightgray 100%);
  background-size: 100% 100%;
  --progress: 0%;
  transition: background-color 0.3s ease;
}

@keyframes loading-animation {
  to {
    background-position: right;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }
  .container-left,
  .container-right {
    width: 100%;
  }
}